<!DOCTYPE html>
<html>


<style>
.header{background-color: #f1f1f1;
  padding: 20px;
  text-align: center;}
.content{margin-left: 570px};
</style>
<style>
#bodyid { background-color: lightblue;}
form {font-size:20px;}
p {font-size:20px;}
</style>
<body id="bodyid">
<div class='header'>
<h1>Body shaming classifier</h1>
</div>
<div id="background" class='content'><br><br>
<form method="post"><br>
  Enter a post here: 
  <input type="text" name="text" >
  <input type="submit">
</form><br><br>
<p> Input: </p><p style="font-style:italic;"> {{text}} </p><br>
<p> Label: </p><p style="font-style:italic;">{{label}} </p><br>
<p> Confidence score:</p><p style="font-style:italic;"> {{score}} </p><br>
<p> Words from input related to body shaming:</p> <p style="font-style:italic;">{{words}} </p><br>
</div>
</body>
</html>